# registry = "http://setools.t-systems.es/nexus/repository/npm-all"

# # Configuracions del proxy per a NPM
# # El domini on està publicat el Nexus ha de ser accessible sense proxy
# strict-ssl=false
# #proxy=http://10.49.1.1:8080
# #https-proxy=http://10.49.1.1:8080
# #noproxy=setools.t-systems.es
# @tu-grupo:registry=https://gitlab.com/api/v4/packages/npm/
# //gitlab.com/api/v4/packages/npm/:_authToken=TU_TOKEN_PERSONAL
# always-auth=true
registry=https://registry.npmjs.org/
proxy=null
https-proxy=null