<a class="p-panelmenu-header-link ng-tns-c67-1 ng-star-inserted p-menuitem-link-active" tabindex="0" href="#/inici"><!----><span class="p-menuitem-icon ng-tns-c67-1 fa fa-home ng-star-inserted"></span><!----><span class="p-menuitem-text ng-tns-c67-1 ng-star-inserted">Inici</span><!----><!----></a>
<div class="jus-menubar-title"> MFE Base </div>

.jus-catplus-theme #jus-layout-menu .p-panelmenu-header>a {
    padding: 6px 8px;
    background-color: #fff;
    color: #212121;
}
<style>
.jus-layout-menu .p-panelmenu-header a:first-child {
    border-bottom-color: #d6d6d6;
}
<style>
.jus-layout-menu .p-panelmenu-header a.p-menuitem-link-active {
    font-weight: 700;
}
<style>
.jus-layout-menu .p-panelmenu-header a {
    background-color: #e5e7ea;
    color: #555;
    border-radius: 0;
    border-color: transparent;
    padding: 8px 16px;
}
<style>
.jus-layout-menu .p-panelmenu-header>a {
    font-weight: 400;
}
<style>
.p-panelmenu .p-panelmenu-header>a {
    padding: .857rem 1rem;
    border: 1px solid #c8c8c8;
    color: #333;
    background: #f4f4f4;
    font-weight: 700;
    border-radius: 3px;
    transition: background-color .2s, box-shadow .2s;
}
<style>
.p-panelmenu .p-panelmenu-header-link {
    display: flex
;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
<style>
.jus-catplus-theme a {
    color: #0c3ce8;
}
<style>
.p-component, .p-component * {
    box-sizing: border-box;
}
<style>
a, a:hover {
    text-decoration: none;
}
<style>
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
<style>
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
<style>
* {
    box-sizing: border-box;
}
<style>
*, *:before, *:after {
    box-sizing: border-box;
}
<style>
*, :after, :before {
    box-sizing: border-box;
}
hoja de estilo del agente de usuario
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
<style>
.jus-catplus-theme #jus-layout-menu .p-panelmenu-header {
    border-left: none;
    border-right: none;
    margin-top: 0;
    border-top: none;
    border-radius: 0;
    color: #212121;
}
<style>
body, .p-component {
    font-family: Open Sans, Roboto, Helvetica Neue, sans-serif;
    font-size: .8125rem;
}
<style>
.p-component {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
    font-size: 1rem;
    font-weight: 400;
}
<style>
:root, :host {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-regular: normal 400 1em / 1 "Font Awesome 6 Free";
}
<style>
:root, :host {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Free";
}
body, .p-component {
    font-family: Open Sans, Roboto, Helvetica Neue, sans-serif;
    font-size: .8125rem;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
body {
    font-family: "Open Sans", "Roboto", "Helvetica Neue", sans-serif;
    font-size: 0.8125rem;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root, :host {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-regular: normal 400 1em / 1 "Font Awesome 6 Free";
}
:root, :host {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Free";
}
:root {
    --fc-daygrid-event-dot-width: 8px;
}
:root {
    --blue-50: #f3f8fc;
    --blue-100: #c6dcef;
    --blue-200: #98c1e3;
    --blue-300: #6ba5d7;
    --blue-400: #3d8aca;
    --blue-500: #106ebe;
    --blue-600: #0e5ea2;
    --blue-700: #0b4d85;
    --blue-800: #093d69;
    --blue-900: #062c4c;
    --green-50: #f7fbf6;
    --green-100: #d6ead1;
    --green-200: #b6d9ad;
    --green-300: #96c889;
    --green-400: #76b765;
    --green-500: #56a641;
    --green-600: #498d37;
    --green-700: #3c742e;
    --green-800: #2f5b24;
    --green-900: #22421a;
    --yellow-50: #fffcf5;
    --yellow-100: #fdefcd;
    --yellow-200: #fbe3a6;
    --yellow-300: #f9d67f;
    --yellow-400: #f8ca57;
    --yellow-500: #f6bd30;
    --yellow-600: #d1a129;
    --yellow-700: #ac8422;
    --yellow-800: #87681a;
    --yellow-900: #624c13;
    --cyan-50: #f4fbfd;
    --cyan-100: #ccebf5;
    --cyan-200: #a4dbed;
    --cyan-300: #7ccce5;
    --cyan-400: #54bcdd;
    --cyan-500: #2cacd5;
    --cyan-600: #2592b5;
    --cyan-700: #1f7895;
    --cyan-800: #185f75;
    --cyan-900: #124555;
    --pink-50: #fdf4f9;
    --pink-100: #f6cce0;
    --pink-200: #eea3c7;
    --pink-300: #e77aae;
    --pink-400: #df5296;
    --pink-500: #d8297d;
    --pink-600: #b8236a;
    --pink-700: #971d58;
    --pink-800: #771745;
    --pink-900: #561032;
Mostrar todos los inmuebles (50 más)
}
:root {
    --surface-a: #ffffff;
    --surface-b: #f4f4f4;
    --surface-c: #eaeaea;
    --surface-d: #c8c8c8;
    --surface-e: #ffffff;
    --surface-f: #ffffff;
    --text-color: #333333;
    --text-color-secondary: #848484;
    --primary-color: #007ad9;
    --primary-color-text: #ffffff;
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --surface-0: #ffffff;
    --surface-50: #eef1f2;
    --surface-100: #dde2e4;
    --surface-200: #bbc5ca;
    --surface-300: #98a8af;
    --surface-400: #768b95;
    --surface-500: #546e7a;
    --surface-600: #435862;
    --surface-700: #324249;
    --surface-800: #222c31;
    --surface-900: #111618;
    --gray-50: #eef1f2;
    --gray-100: #dde2e4;
    --gray-200: #bbc5ca;
    --gray-300: #98a8af;
    --gray-400: #768b95;
    --gray-500: #546e7a;
    --gray-600: #435862;
    --gray-700: #324249;
    --gray-800: #222c31;
    --gray-900: #111618;
    --content-padding: .571rem 1rem;
    --inline-spacing: .5rem;
    --border-radius: 3px;
    --surface-ground: #f4f4f4;
    --surface-section: #ffffff;
    --surface-card: #ffffff;
    --surface-overlay: #ffffff;
    --surface-border: #c8c8c8;
    --surface-hover: #eaeaea;
    --maskbg: rgba(0, 0, 0, .4);
    --focus-ring: 0 0 0 .2rem #8dcdff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
:root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-regular: normal 400 1em / 1 "Font Awesome 6 Free";
}
:root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Free";
}
:root {
    --fc-daygrid-event-dot-width: 8px;
}
:root {
    --blue-50: #f3f8fc;
    --blue-100: #c6dcef;
    --blue-200: #98c1e3;
    --blue-300: #6ba5d7;
    --blue-400: #3d8aca;
    --blue-500: #106ebe;
    --blue-600: #0e5ea2;
    --blue-700: #0b4d85;
    --blue-800: #093d69;
    --blue-900: #062c4c;
    --green-50: #f7fbf6;
    --green-100: #d6ead1;
    --green-200: #b6d9ad;
    --green-300: #96c889;
    --green-400: #76b765;
    --green-500: #56a641;
    --green-600: #498d37;
    --green-700: #3c742e;
    --green-800: #2f5b24;
    --green-900: #22421a;
    --yellow-50: #fffcf5;
    --yellow-100: #fdefcd;
    --yellow-200: #fbe3a6;
    --yellow-300: #f9d67f;
    --yellow-400: #f8ca57;
    --yellow-500: #f6bd30;
    --yellow-600: #d1a129;
    --yellow-700: #ac8422;
    --yellow-800: #87681a;
    --yellow-900: #624c13;
    --cyan-50: #f4fbfd;
    --cyan-100: #ccebf5;
    --cyan-200: #a4dbed;
    --cyan-300: #7ccce5;
    --cyan-400: #54bcdd;
    --cyan-500: #2cacd5;
    --cyan-600: #2592b5;
    --cyan-700: #1f7895;
    --cyan-800: #185f75;
    --cyan-900: #124555;
    --pink-50: #fdf4f9;
    --pink-100: #f6cce0;
    --pink-200: #eea3c7;
    --pink-300: #e77aae;
    --pink-400: #df5296;
    --pink-500: #d8297d;
    --pink-600: #b8236a;
    --pink-700: #971d58;
    --pink-800: #771745;
    --pink-900: #561032;
Mostrar todos los inmuebles (50 más)
}
:root {
    --surface-a: #ffffff;
    --surface-b: #f4f4f4;
    --surface-c: #eaeaea;
    --surface-d: #c8c8c8;
    --surface-e: #ffffff;
    --surface-f: #ffffff;
    --text-color: #333333;
    --text-color-secondary: #848484;
    --primary-color: #007ad9;
    --primary-color-text: #ffffff;
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --surface-0: #ffffff;
    --surface-50: #eef1f2;
    --surface-100: #dde2e4;
    --surface-200: #bbc5ca;
    --surface-300: #98a8af;
    --surface-400: #768b95;
    --surface-500: #546e7a;
    --surface-600: #435862;
    --surface-700: #324249;
    --surface-800: #222c31;
    --surface-900: #111618;
    --gray-50: #eef1f2;
    --gray-100: #dde2e4;
    --gray-200: #bbc5ca;
    --gray-300: #98a8af;
    --gray-400: #768b95;
    --gray-500: #546e7a;
    --gray-600: #435862;
    --gray-700: #324249;
    --gray-800: #222c31;
    --gray-900: #111618;
    --content-padding: 0.571rem 1rem;
    --inline-spacing: 0.5rem;
    --border-radius: 3px;
    --surface-ground: #f4f4f4;
    --surface-section: #ffffff;
    --surface-card: #ffffff;
    --surface-overlay: #ffffff;
    --surface-border: #c8c8c8;
    --surface-hover: #eaeaea;
    --maskbg: rgba(0, 0, 0, 0.4);
    --focus-ring: 0 0 0 0.2rem #8dcdff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
<style>
*, *:before, *:after {
    box-sizing: border-box;
}
<style>
*, :after, :before {
    box-sizing: border-box;
}
<style>
*, *:before, *:after {
    box-sizing: border-box;
}
<style>
*, :after, :before {
    box-sizing: border-box;
}