<div class="container-fluid w-100 align-self-stretch">
    <div class="p-3">
        <div class="row">
            <div class="col-sm-12">
                <h4><span class="fa fa-ban"> </span> {{ 'ui.forbidden.message' | translate }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <a href="#" [routerLink]="['/']"> <span class="fa fa-chevron-left"> </span> {{ 'ui.any.back' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
