<div class="container-fluid">
    <div class="d-flex">
        <h3 class="my-3">Multijurisdicció / Microfrontend / Foo Component</h3>
    </div>

    <p class="lead">
        FooComponent publicat com a Custom element...
        <br />
        ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed orci mattis massa tristique vehicula vitae id nisl. Nunc id varius tortor. Morbi sed porta quam.
        Phasellus suscipit a diam id accumsan. Proin sit amet nunc diam. Ut sed commodo urna, et fermentum odio. In hac habitasse platea dictumst.
    </p>

    <div class="p-2 d-flex flex-row-reverse">
        <button type="button" class="ml-3 ui-button-raised ui-button-default" pButton icon="pi pi-check" (click)="response(true)" label="Sí"></button>
        <button type="button" class="ml-2 ui-button-raised ui-button-default" pButton icon="pi pi-times" (click)="response(false)" label="No"></button>
    </div>
</div>
