<div class="container-fluid">
    <div class="d-flex">
        <h3 class="my-3">Multijurisdicció / Microfrontend / Pàgina inicial</h3>

        <div class="my-3 ml-auto" *ngIf="!esMfeContext">
            <button *ngIf="userIsLoggedIn" pButton icon="fa fa-refresh" type="button" label="Refresh token" (click)="refreshToken()" class="ui-button-raised mr-3"></button>
            <button *ngIf="!userIsLoggedIn; else userLoggedOk" pButton icon="fa fa-sign-in" type="button" label="Login" (click)="login()" class="ui-button-raised"></button>
        </div>
    </div>

    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed orci mattis massa tristique vehicula vitae id nisl. Nunc id varius tortor. Morbi sed porta quam.
        Phasellus suscipit a diam id accumsan. Proin sit amet nunc diam. Ut sed commodo urna, et fermentum odio. In hac habitasse platea dictumst.
    </p>

    <div class="my-3">
        <button pButton icon="fa fa-window-restore" type="button" label="Obrir diàleg" (click)="obrir()" class="ui-button-raised mr-3"></button>
    </div>
</div>
<ng-template #userLoggedOk>
    <button pButton type="button" icon="fa fa-sign-out" label="Logout" (click)="logout()" class="ui-button-raised ui-button-danger"></button>
</ng-template>

<p-dialog header="Microfrontend" [(visible)]="veureDialeg" [modal]="true" [style]="{ width: '50vw' }" [baseZIndex]="10000" [draggable]="true" [resizable]="false">
    <mfe-foo (action)="tancar($event)"></mfe-foo>
</p-dialog>
